In [1]:
import pandas as pd

In [390]:
heroes_of_pymoli_df = pd.read_csv("../Resources/purchase_data.csv")
heroes_of_pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Number of players

In [17]:
number_of_players = heroes_of_pymoli_df["SN"].value_counts()
number_of_players = pd.DataFrame({
    "Number of players": [len(number_of_players)]
})
number_of_players

   Number of players
0                576

# Purchases analysis

In [12]:
unique_items = heroes_of_pymoli_df['Item ID'].value_counts()

In [13]:
average_of_purchase_price = heroes_of_pymoli_df["Price"].mean()
average_of_purchase_price

3.050987179487176

In [14]:
total_revenue = heroes_of_pymoli_df["Price"].sum()
total_revenue

2379.77

In [53]:
purchases_analysis = pd.DataFrame({
    "Number of unique items": [len(unique_items)],
    "Average of purchase price": ["${:,.2f}".format(average_of_purchase_price)],
    "Number of purchases": [len(heroes_of_pymoli_df)],
    "Total revenue": ["${:,.2f}".format(total_revenue)],
    
})
purchases_analysis

,Number of unique items,Average of purchase price,Number of purchases,Total revenue
0,183,$3.05,780,"$2,379.77"

# Gender demographics

In [489]:
gender_count = heroes_of_pymoli_df.drop_duplicates("SN", keep='first')
gender_count = gender_count["Gender"].value_counts()

In [490]:
gender_demographics = pd.DataFrame(gender_count)

In [491]:
total_of_people = gender_count.sum()
male_percentage = "{:.2f}%".format(gender_demographics.loc["Male", "Gender"] * 100 / total_of_people)
female_percentage = "{:.2f}%".format(gender_demographics.loc["Female", "Gender"] * 100 / total_of_people)
other_percentage = "{:.2f}%".format(gender_demographics.loc["Other / Non-Disclosed", "Gender"] * 100 / total_of_people)
gender_demographics["Percentages"] = [ male_percentage, female_percentage, other_percentage]

In [492]:
gender_demographics

                       Gender Percentages
Male                      484      84.03%
Female                     81      14.06%
Other / Non-Disclosed      11       1.91%

# Purchasing anylisis by Gender

In [493]:
gender_groupby = heroes_of_pymoli_df.groupby("Gender")

In [498]:
purchasing_gender_analysis = pd.DataFrame(gender_groupby["Price"].sum())
purchasing_gender_analysis.columns = ["Total Purchase Count"]
purchasing_gender_analysis["Purchase Count"] = heroes_of_pymoli_df.groupby("Gender").count()["Price"]
purchasing_gender_analysis["Average Purchase Price"] = pd.DataFrame(gender_groupby["Price"].mean())

# Better formatting
purchasing_gender_analysis["Total Purchase Count"] = purchasing_gender_analysis["Total Purchase Count"].map("${:,.2f}".format)
purchasing_gender_analysis["Average Purchase Price"] = purchasing_gender_analysis["Average Purchase Price"].map("${:,.2f}".format)

purchasing_gender_analysis["Average Total Purchase per Person"] = gender_groupby["Price"].sum() / gender_demographics["Gender"]

In [501]:
purchasing_gender_analysis["Average Total Purchase per Person"] = purchasing_gender_analysis["Average Total Purchase per Person"].map("${:,.2f}".format)

In [503]:
purchasing_gender_analysis = purchasing_gender_analysis[["Purchase Count", "Average Purchase Price", "Total Purchase Count", "Average Total Purchase per Person"]]

In [504]:
purchasing_gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Count,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age demographics

In [454]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_bins_labels = ["<10", "10-14", "15-19", "20-24", "24-29", "30-34", "35-39", "40+"]

In [455]:
age_demo_df = heroes_of_pymoli_df
age_demo_df["Age Range"] = pd.cut(age_demo_df["Age"], age_bins, labels=age_bins_labels)
age_demo_df = age_demo_df.drop_duplicates("SN", keep="first")

In [456]:
age_demographics = pd.DataFrame(age_demo_df.groupby("Age Range").count()["Price"])
age_demographics["Age Percentages"] = age_demographics["Price"] * 100 / len(age_demo_df)

In [461]:
age_demographics["Age Percentages"] = age_demographics["Age Percentages"].map("{:.2f}%".format)

In [478]:
age_demographics.columns = ["People", "Age Percentages"]
age_demographics

           People Age Percentages
Age Range
<10            17           2.95%
10-14          22           3.82%
15-19         107          18.58%
20-24         258          44.79%
24-29          77          13.37%
30-34          52           9.03%
35-39          31           5.38%
40+            12           2.08%

# Purchase anylisis by Age

In [505]:
age_groupby = heroes_of_pymoli_df
age_groupby["Age Range"] = pd.cut(heroes_of_pymoli_df["Age"], age_bins, labels=age_bins_labels)
age_groupby = age_groupby.groupby("Age Range")

In [506]:
age_purchase_anylisis = pd.DataFrame({
    "Purchase Count": age_groupby.count()["Price"],
    "Average Purchase Price": age_groupby.mean()["Price"].map("${:,.2f}".format),
    "Total Purchase Price": age_groupby.sum()["Price"].map("${:,.2f}".format),
})

In [507]:
age_purchase_anylisis["Average Total Purchase per Person"] = age_groupby.sum()["Price"] / age_demographics["People"]

In [508]:
age_purchase_anylisis["Average Total Purchase per Person"] = age_purchase_anylisis["Average Total Purchase per Person"].map("${:,.2f}".format)

In [509]:
age_purchase_anylisis

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
24-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

In [397]:
# Grouping by SN
spenders = heroes_of_pymoli_df.dropna(subset=["Price"])
top_spenders_grouped_by_SN = spenders.groupby("SN")
top_spenders = top_spenders_grouped_by_SN.count().sort_values("Price", ascending=False)

In [398]:
# Obtaining the 5 users with the most cash expended
final_top_spenders = top_spenders_grouped_by_SN.sum().sort_values("Price", ascending=False)["Price"].head(5)

In [399]:
# Casting
final_top_spenders = pd.DataFrame(final_top_spenders)

In [400]:
# Formating like $10,000
final_top_spenders["Price"] = final_top_spenders["Price"].map("${:,.2f}".format)

In [401]:
# Renaming Values
final_top_spenders.columns = ["Total Purchase Value"]

In [402]:
# Obtaining how much items do they purchase
final_top_spenders["Purchase Count"] = top_spenders_grouped_by_SN.count().sort_values("Price", ascending=False).loc[list(final_top_spenders.index),"Price"]

In [403]:
final_top_spenders["Purchase Average Price"] = top_spenders_grouped_by_SN.mean().sort_values("Price", ascending=False).loc[list(final_top_spenders.index), "Price"]

In [407]:
final_top_spenders["Purchase Average Price"] = final_top_spenders["Purchase Average Price"].map("${:,.2f}".format)

In [408]:
final_top_spenders

            Total Purchase Value  Purchase Count Purchase Average Price
SN
Lisosia93                 $18.96               5                  $3.79
Idastidru52               $15.45               4                  $3.86
Chamjask73                $13.83               3                  $4.61
Iral74                    $13.62               4                  $3.40
Iskadarya95               $13.10               3                  $4.37

# Most Popular Items

In [356]:
popular_items = pd.DataFrame(popular_items_group.count().sort_values("Price", ascending=False)["Price"].head(5))
popular_items.columns = ["Purchase Count"]

In [357]:
popular_items["Total Purchase Value"] = popular_items_group.sum().loc[list(popular_items.index), "Price"]

In [358]:
popular_items["Item Price"] = popular_items["Total Purchase Value"].astype(float) / popular_items["Purchase Count"]

In [359]:
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:,.2f}".format)

In [360]:
popular_items["Item Price"] = popular_items["Item Price"].map("${:,.2f}".format)

In [361]:
popular_items

,,Purchase Count,Total Purchase Value,Item Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
82,Nirvana,9,$44.10,$4.90
19,"Pursuit, Cudgel of Necromancy",8,$8.16,$1.02

# Most Profitable Items

In [366]:
profitable_items_group = heroes_of_pymoli_df.groupby(["Item ID", "Item Name"])

In [378]:
profitable_items = pd.DataFrame(profitable_items_group.sum().sort_values("Price", ascending=False)["Price"].head(5))

In [383]:
profitable_items["Purchase Count"] = profitable_items_group.count().loc[list(profitable_items.index), "Price"]

In [384]:
profitable_items.columns = ["Total Purchase Value", "Purchase Count"]

In [386]:
profitable_items["Item Price"] = profitable_items["Total Purchase Value"].astype(float) / profitable_items["Purchase Count"]

In [388]:
profitable_items["Total Purchase Value"] = profitable_items["Total Purchase Value"].map("${:,.2f}".format)
profitable_items["Item Price"] = profitable_items["Item Price"].map("${:,.2f}".format)

In [389]:
profitable_items

,,Total Purchase Value,Purchase Count,Item Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",$50.76,12,$4.23
82,Nirvana,$44.10,9,$4.90
145,Fiery Glass Crusader,$41.22,9,$4.58
92,Final Critic,$39.04,8,$4.88
103,Singed Scalpel,$34.80,8,$4.35